@tailwind base;
@tailwind components;
@tailwind utilities;



path.react-flow__edge-path {
  stroke-width: 4;
  stroke: green;
}

path.react-flow__edge-path:hover {
  stroke-width: 10;
}
.react-flow__pane {
  cursor: default;
}
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}